:root {
  --color-headings: #ffffff;
  --color-text: #e5e5e5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Inter";
  font-weight: normal;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #141619;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headings);
  overflow-wrap: break-word;
  margin: 0;
}

h1 {
  font-size: 7.6rem;
  font-weight: 500;
}

h2 {
  font-size: 5.6rem;
  font-weight: 500;
}

h3 {
  font-size: 3.2rem;
  font-weight: 500;
}

p {
  font-size: 1.9rem;
  line-height: 1.5;
}

/* Utlities */

.container {
  max-width: 1056px;
  margin: 0 auto;
}

.border-right {
  border-right: 1px solid #fff;
}

.border-bottom {
  border-bottom: 1px solid #fff;
}

.active {
  background: linear-gradient(to bottom right, #665dcd, #d2ab67);
}

/* Navbar */

.nav__wrapper {
  position: fixed;
  background: #141619;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.2rem 6.4rem;
  width: 100%;
  z-index: 100;
}

.nav__list ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.nav__item {
  font-size: 1.5rem;
  color: var(--color-text);
  text-transform: uppercase;
  margin-right: 2rem;
}

.nav__contact {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--color-text);
}

.nav__contact::before {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: linear-gradient(to bottom right, #665dcd, #d2ab67);
  border-radius: 50%;
  margin-right: 1rem;
}

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  height: 81rem;
  margin-bottom: 12.8rem;
}

.hero div {
  position: relative;
  margin-top: 15.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 58.4rem;
  height: 39.2rem;
}

.hero div h1 {
  text-align: center;
}

.hero div h1:first-child {
  position: absolute;
  top: -4.3rem;
}

.hero div h1:nth-child(2) {
  position: absolute;
  top: 8.6rem;
}

.hero__text {
  color: var(--color-text);
  position: absolute;
  top: 20.3rem;
  font-size: 1.8rem;
  text-align: center;
}

.hero button {
  color: var(--color-text);
  text-transform: uppercase;
  width: 19.15rem;
  height: 5.8rem;
  font-size: 1.9rem;
  position: absolute;
  top: 33.4rem;
  background: linear-gradient(to bottom right, #665dcd, #d2ab67);
}

/* About */
.about {
  text-align: center;
  margin-bottom: 12.8rem;
}

.about__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25.2rem;
  margin-bottom: 6.4rem;
}

.about__text {
  font-size: 2rem;
  max-width: 61.2rem;
}

.about__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 35.6rem;
  width: 100%;
}

.about__body-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4.5rem 2rem;
}

.about__body-block p {
  max-height: 5.5rem;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .about__body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: auto;
  }
}

/* Market */

.market {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.market__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 12.2rem;
}

.mh__title {
  margin-bottom: 2.4rem;
}

.mh__body {
  max-width: 62rem;
}

.market__media {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 42.2rem));
  gap: 9.2rem;
  margin-bottom: 16rem;
  width: 100%;
}

.mmc__title {
  font-weight: 400;
  margin-bottom: 2.7rem;
}

.mmc__subtitle {
  font-weight: 500;
  margin-bottom: 2rem;
}

.mm__content p {
  margin-bottom: 3.2rem;
}

.mm__content a {
  color: var(--color-text);
  font-size: 1.8rem;
}

.mm__image {
  position: relative;
}

.image__screens {
  position: absolute;
  z-index: 1;
  top: -5rem;
}

.image__grid {
  position: absolute;
  top: 15.2rem;
  left: 0.2rem;
}

@media screen and (max-width: 768px) {
  .market {
    justify-content: center;
  }

  .market__media {
    width: auto;
  }
}

/* Associates */

.associates {
  position: relative;
  margin-top: 6.4rem;
  margin-bottom: 12.8rem;
  display: flex;
  justify-content: space-between;
}

.container__header {
  margin-top: 33rem;
  max-width: 50.6rem;
}

.associates__icons img:first-child {
  position: absolute;
  top: 6.845rem;
  left: 6.388rem;
}

.associates__icons img:nth-child(2) {
  position: absolute;
  top: -2.278rem;
  left: -1.689rem;
}

.associates__icons img:last-child {
  position: absolute;
  top: 10.167rem;
  left: -6.311rem;
}

/* advocacy */

.advocacy {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advocacy__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advocacy__header h2 {
  margin-bottom: 2rem;
}

.advocacy__header p {
  margin-bottom: 2.7rem;
  max-width: 60.3rem;
}

.slider__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.2rem;
}

.icon__right,
.icon__left {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 5.8rem;
  width: 5.8rem;
  border-radius: 50%;
  background: transparent;
  border: 1px solid black;
}

.icon__left {
  margin-right: 3.2rem;
}

.icon__right img,
.icon__left img {
  width: 60%;
}

.icon__left img {
  transform: rotate(180deg);
}

.advocacy__body {
  max-width: 68.2rem;
}

.ab__text {
  font-size: 2.6rem;
  margin-bottom: 3.8rem;
}

.ab__title {
  margin-bottom: 1.9rem;
}

.advocacy__logo {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 68.2rem;
  margin-bottom: 14.83rem;
}

.advocacy__logo p {
  margin-right: 2.22rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30.9rem;
}

.pagination .circle {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #665dcd, #d2ab67);
  margin-right: 1.6rem;
}

/* Connect */

.connect {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 12.8rem;
}

.connect__title {
  max-width: 40.8rem;
}

.connect__content {
  font-size: 1.9rem;
}

.connect__content p {
  margin-bottom: 2.4rem;
}

.connect__content a {
  display: flex;
  align-items: center;
  color: var(--color-text);
  margin-top: 1.5rem;
}

.connect__content a span {
  margin-right: 1rem;
}

/* Contact */

.contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 54.8rem;
  position: relative;
}

.contact__title {
  margin-bottom: 2.4rem;
}

.contact__text {
  max-width: 62.3rem;
  margin-bottom: 4.1rem;
}

.contact__button {
  color: var(--color-text);
  text-transform: uppercase;
  width: 19.15rem;
  height: 5.8rem;
  font-size: 1.9rem;
  background: linear-gradient(to bottom right, #665dcd, #d2ab67);
}

.contact_blur_right {
  height: 57.4rem;
  width: 66.25rem;
  position: absolute;
  transform: rotate(-11.8deg);
  top: -2.521rem;
  right: 5.378rem;
}

.contact_blur_left {
  height: 57.4rem;
  width: 66.25rem;
  position: absolute;
  top: 10rem;
  left: -25rem;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 36.62rem;
}

.footer__wrapper,
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__wrapper {
  margin-bottom: 6rem;
}

.footer__left h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1.1rem;
}

.footer__left p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.footer__body p {
  font-size: 1.4rem;
}
